body {
  background:#f2f2e9;
  font-family: "Trebuchet MS";
}
.container-fluid {
  border:1px solid #000000;
  width:1100px;
  background:#FFFFFF;
  padding:0;
  margin:20px auto 20px auto;
}
#header {
  background:#000000;
  height:60px;
  border-bottom:1px solid #000000;
  color:#FFFFFF;
}
#welcome {
  float:right;
  padding:5px;
  font-weight:bold;
  font-size:0.9em;
}
#welcome a {
  color:#000000;
  text-decoration:underline;
}
#header_content {
  padding:15px 0 0 15px;
}
#header_content h1 {
  color:#FFFFFF;
  font-weight:bold;
  margin:0;
  padding:0;
  font-size:1.7em;
}
#header a {
  color:#FFFFFF;
  text-decoration:none;
}
div#main {
  clear:both;
}
div#sub_main {
  padding:10px;
  min-height:500px;
}
#footer {
  border-top:1px solid #000;
  font-size:0.75em;
  padding-left:10px;
  background-color:#000;
  color:#FFF;
  font-weight:bold;
}
div.form {
  width:65%;
  margin:0 auto;
}
div.form fieldset {
  border:1px solid #000000;
}
div.form legend {
  width:inherit;
  padding:0px 10px;
  border-bottom:none;
  font-size:1.15em;
}
div.form form {
  padding:0px 50px 35px 50px;
}
p.form-warning {
  margin-top:20px;
  padding:5px;
  border:1px solid #a94442;
  width:350px;
}
