body {
  background:#f2f2e9;
  font-family: "Trebuchet MS";
  font-size:13px;
}
a.button:hover {
  text-decoration:none;
}
.container-fluid {
  border:1px solid #000;
  width:1100px;
  background:#FFF;
  padding:0;
  margin:20px auto 20px auto;
}
#header {
  background:#000;
  height:60px;
  border-bottom:1px solid #000;
  color:#FFF;
}
#welcome {
  float:right;
  padding:10px 20px 0 0;
  font-weight:bold;
  font-size:0.9em;
}
#welcome a {
  color:#000;
  text-decoration:underline;
}
#welcome a:hover {
  cursor:pointer;
}
#header_content {
  padding:15px 0 0 15px;
}
#header_content h1 {
  color:#FFF;
  font-weight:bold;
  margin:0;
  padding:0;
  font-size:1.7em;
}
#header a {
  color:#FFF;
  text-decoration:none;
}
div#home_text {
  width:80%;
  padding-top:50px;
  margin:0 auto;
  font-size:1.2em;
}
div#home_text div#links {
  margin-top:35px;
}
div#home_text div#links span {
  margin:0px 10px 0px 10px;
}
div#home_text div#links a {
  color:#000;
  text-decoration: none;
  font-weight:bold;
  font-size:1.05em;
}
div#main {
  clear:both;
  min-height:500px;
}
div#sub_main {
  padding:10px;
}
#footer {
  clear:both;
  border-top:1px solid #000;
  font-size:0.75em;
  padding-left:10px;
  background-color:#000;
  color:#FFF;
  font-weight:bold;
}
div.form {
  width:50%;
  margin:0 auto;
}
div.form fieldset {
  padding:15px;
  border:1px solid #000;
}
div.form legend {
  width:inherit;
  padding:0px 10px;
  border-bottom:none;
  font-size:1.15em;
}
div.form form {
  padding:0px 50px 35px 50px;
}
div.form div.error {
  color:#FF0000;
}
p.form-warning {
  margin-top:20px;
  padding:5px;
  border:1px solid #a94442;
  width:350px;
}
div#graph {
  float:right;
  width:680px;
  min-height:500px;
  margin:60px 0 10px 5px;
}
div#left_container {
  width:380px;
}
div#control_panel {
  margin-bottom:10px;
}
table.weights {
  margin-bottom:0px;
}
table.weights td {
  line-height:13px;
}
tr.table_nav i {
  color:#FFF;
}
table.weights td.blanked {
  background-color:#000;
  border:1px solid #000;
}
td.weight_width {
  width:25%;
}
tr.table_nav {
  background-color:#000;
  color:#FFF;
}
div#table_title {
  width:50%;
  margin:auto;
}
tr.table_nav > td {
  line-height:13px;
  text-align:center;
  font-weight:bold;
}
span.control {
  cursor:pointer;
}
span.control_disabled {
  visibility:hidden;
}
table.weights td:not(:last-child) {
  border-right:1px solid #ddd;
}
table.weights tbody tr {
  cursor:pointer;
}
table.weights tbody tr > td.weight {
  text-align:right;
}
table.weights tbody tr > td.success {
  color:#32CD32;
  font-weight:bold;
}
table.weights tbody tr > td.danger {
  color:#FF0000;
  font-weight:bold;
}
table.weights td.date_width {
  width:40%;
}
table.weights td.weight_width_20 {
  width:20%;
}
table.weights td.weight_width_28 {
  width:28%;
}
table.weights td.stats_title {
  width:40%;
  font-weight:bold;
}
.modal {
  background-color:rgba(0,0,0,0.2);
}

