body {
  background:#f2f2e9;
  font-family: "Trebuchet MS";
  font-size:13px;
}
.container-fluid {
  border:1px solid #000;
  width:1100px;
  background:#FFF;
  padding:0;
  margin:20px auto 20px auto;
}
#header {
  background:#000;
  height:60px;
  border-bottom:1px solid #000;
  color:#FFF;
}
#welcome {
  float:right;
  padding:5px;
  font-weight:bold;
  font-size:0.9em;
}
#welcome a {
  color:#000;
  text-decoration:underline;
}
#header_content {
  padding:15px 0 0 15px;
}
#header_content h1 {
  color:#FFF;
  font-weight:bold;
  margin:0;
  padding:0;
  font-size:1.7em;
}
#header a {
  color:#FFF;
  text-decoration:none;
}
div#main {
  clear:both;
}
div#sub_main {
  padding:10px;
}
#footer {
  border-top:1px solid #000;
  font-size:0.75em;
  padding-left:10px;
  background-color:#000;
  color:#FFF;
  font-weight:bold;
}
div.form {
  width:65%;
  margin:0 auto;
}
div.form fieldset {
  border:1px solid #000;
}
div.form legend {
  width:inherit;
  padding:0px 10px;
  border-bottom:none;
  font-size:1.15em;
}
div.form form {
  padding:0px 50px 35px 50px;
}
p.form-warning {
  margin-top:20px;
  padding:5px;
  border:1px solid #a94442;
  width:350px;
}
div#graph {
  float:right;
  width:690px;
  border:1px solid #000;
  height:100%;
}
div#left_container {
  width:380px;
}
div#control_panel {
  border:1px solid #000;
  height:150px;
  margin-bottom:10px;"
}
table#weights {
  margin-bottom:0px;
  border-color:#000;
}
td.weight_width {
  width:20%;
}
tr#table_nav {
  background-color:#000;
  color:#FFF;
}
tr#table_nav > td {
  line-height:13px;
  border:1px solid #000;
  text-align:center;
  font-weight:bold;
}
tr#table_nav > td > span.control {
  cursor:pointer;
}
tr#table_nav > td > span.control_disabled {
  visibility:hidden;
}
table#weights tbody tr {
  cursor:pointer;
}
table#weights tbody tr > td.weight {
  text-align:right;
}
table#weights tbody tr > td.success {
  color:#32CD32;
  font-weight:bold;
}
table#weights tbody tr > td.danger {
  color:#FF0000;
  font-weight:bold;
}
