# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/html

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
*.iml
.idea/
weights.csv
config.ini
api/vendor
.venv
db.sqlite3
media/admin
*.pyc
frontend/public/media/admin
frontend/public/media/rest_framework/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
