.idea
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
weighttracker.iml
bower_components/
html/assets/js/lib/*
_docs/js/*
config.ini