{% extends 'weighttrackerBundle::layout.html.twig' %}

{% block title %}Weighttracker{% endblock %}

{% block content_header '' %}

{% block body %}
    <div id="opaque"></div>
    <div id="header">
        <img id="logo" src="{{ asset('bundles/weighttracker/images/logo.png') }}" alt="">
    </div>
    <div id="outer">
        <div class="text-center">
            <div>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam eu ante et dui dapibus ullamcorper. Nulla vehicula
                    nibh et nunc suscipit eu interdum erat scelerisque. Cras
                    rutrum interdum mi ac vulputate. Donec ac justo mauris. Cras
                    consequat dui sed ligula molestie sit amet volutpat odio
                    mollis. Nunc commodo semper quam, quis tristique
                    nibh facilisis a. Vivamus mollis elementum tempor.
                    Curabitur et malesuada neque. Aliquam euismod sem a nisi
                    lobortis quis cursus nisl tincidunt. Phasellus hendrerit,
                    turpis id imperdiet faucibus, felis felis posuere lectus, ac
                    egestas nulla quam at odio. Vestibulum iaculis placerat
                    molestie. Ut sollicitudin sapien eget dolor ultricies ac
                    accumsan felis mollis.
                </p>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam eu ante et dui dapibus ullamcorper. Nulla vehicula
                    nibh et nunc suscipit eu interdum erat scelerisque. Cras
                    rutrum interdum mi ac vulputate. Donec ac justo mauris. Cras
                    consequat dui sed ligula molestie sit amet volutpat odio
                    mollis. Nunc commodo semper quam, quis tristique nibh
                    facilisis a. Vivamus mollis elementum tempor. Curabitur et
                    malesuada neque. Aliquam euismod sem a nisi lobortis quis
                    cursus nisl tincidunt. Phasellus hendrerit, turpis id
                    imperdiet faucibus, felis felis posuere lectus, ac egestas
                    nulla quam at odio. Vestibulum iaculis placerat molestie. Ut
                    sollicitudin sapien eget dolor ultricies ac accumsan felis
                    mollis.
                </p>
            </div>
            <br />
            <span>
                <button type="button" data-toggle="modal" data-target="#register"
                        class="btn btn-default btn-inverse btn-large">
                    Create Account
                </button>
            </span>
            <span>
                <button type="button" data-toggle="modal" data-target="#login"
                        class="btn btn-default btn-inverse btn-large">
                    Login
                </button>
            </span>
        </div>
    </div>

    <!-- Register Popup -->
    <div id="register" class="modal fade bs-example-modal-sm" tabindex="-1"
         role="dialog" aria-labelledby="registerModal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <h4>Register</h4>
                Email<br />
                <input type="text" class="span4" autocomplete="off" id="email">
                <br />Password<br />
                <input type="password" class="span4" autocomplete="off" id="password">
                <br />Password(again)<br />
                <input type="password" class="span4" autocomplete="off" id="password_again">
                <br />Height(m)<br />
                <input type="text" class="span4" autocomplete="off" id="username">
                <br />Weight(kg)<br />
                <input type="text" class="span4" autocomplete="off" id="password">
                <br />
                <button type="submit" class="btn" id="create_account">Submit</button>
                <button type="cancel" class="btn" id="cancel_create_account">Cancel</button>
            </div>
        </div>
    </div>

    <!-- Login Popup -->
    <div id="login" class="modal fade bs-example-modal-sm" tabindex="-1"
         role="dialog" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <h4>Login</h4>
                Email<br />
                <input type="text" class="span4" autocomplete="off" id="email">
                <br />Password<br />
                <input type="password" class="span4" autocomplete="off" id="password">
                <br />
                <button type="submit" class="btn" id="create_account">Submit</button>
                <button type="cancel" class="btn" id="cancel_create_account">Cancel</button>
            </div>
        </div>
    </div>

{%  endblock %}
