@import './base.css';

#app {
  max-width: 1280px;
  font-weight: normal;
  margin: 1em auto;
  border: 1px solid #000;
}

main {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: #000;
  width: 100%;
  height: 30px;
  color: #fff;
  padding-left: 10px;
  line-height: 30px;
  font-size: 0.9em;
  font-weight: bold;
}

main.full_screen {
  display: flex;
  height: 100%;
  align-items: flex-start;
  padding-top: 50px;
  margin: 0 auto;
  width: 40%;
  flex-direction: column;
  padding-bottom: 2em;
}
.home_buttons {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.home_buttons > button {
  margin-right: 10px;
}
