<h4>Create Account</h4>
Email<br />
<input type="text" class="span4" autocomplete="off" id="email">
<br />Password<br />
<input type="password" class="span4" autocomplete="off" id="password">
<br />Password(again)<br />
<input type="password" class="span4" autocomplete="off" id="password_again">
<br />Height(m)<br />
<input type="text" class="span4" autocomplete="off" id="username">
<br />Weight(kg)<br />
<input type="text" class="span4" autocomplete="off" id="password">
<br />
<button type="submit" class="btn" id="create_account">Submit</button>
<button type="cancel" class="btn" id="cancel_create_account">Cancel</button>