<div class="text-center">
    <div>
        <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nullam eu ante et dui dapibus ullamcorper. Nulla vehicula
            nibh et nunc suscipit eu interdum erat scelerisque. Cras
            rutrum interdum mi ac vulputate. Donec ac justo mauris. Cras
            consequat dui sed ligula molestie sit amet volutpat odio
            mollis. Nunc commodo semper quam, quis tristique
            nibh facilisis a. Vivamus mollis elementum tempor.
            Curabitur et malesuada neque. Aliquam euismod sem a nisi
            lobortis quis cursus nisl tincidunt. Phasellus hendrerit,
            turpis id imperdiet faucibus, felis felis posuere lectus, ac
            egestas nulla quam at odio. Vestibulum iaculis placerat
            molestie. Ut sollicitudin sapien eget dolor ultricies ac
            accumsan felis mollis.
        </p>
        <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nullam eu ante et dui dapibus ullamcorper. Nulla vehicula
            nibh et nunc suscipit eu interdum erat scelerisque. Cras
            rutrum interdum mi ac vulputate. Donec ac justo mauris. Cras
            consequat dui sed ligula molestie sit amet volutpat odio
            mollis. Nunc commodo semper quam, quis tristique nibh
            facilisis a. Vivamus mollis elementum tempor. Curabitur et
            malesuada neque. Aliquam euismod sem a nisi lobortis quis
            cursus nisl tincidunt. Phasellus hendrerit, turpis id
            imperdiet faucibus, felis felis posuere lectus, ac egestas
            nulla quam at odio. Vestibulum iaculis placerat molestie. Ut
            sollicitudin sapien eget dolor ultricies ac accumsan felis
            mollis.
        </p>
    </div>
    <br />

    <span>
        <button type="button" data-toggle="modal" data-target="#register"
                class="btn btn-default btn-inverse btn-large"
                {{action 'openRegisterModal'}}>
            Create Account
        </button>
    </span>

    <span>
        <button type="button" data-toggle="modal" data-target="#login"
                class="btn btn-default btn-inverse btn-large"
                {{action 'openLoginModal'}}>
            Login
        </button>
    </span>
</div>