[misc]
development_mode = 0
mainsite_url = ""
port = ""
db_backup_folder=""

[database]
db_host = ""
username = ""
password = ""
dbname = ""

[mail]
mailgun_api_key = ""
mailgun_domain = ""
email_address = ""
