<div class="form">
  <fieldset>
    <legend>Change Password</legend>
    <div class="form-group ">
      <label class="control-label" for="id_password">
          Password:
      </label>
      {{input class="form-control form-large" autocomplete="off" type="password"
              id="id_password" value=controller.password}}
    </div>
    <div class="form-group ">
      <label class="control-label" for="id_passwordRepeat">
        Repeat Password:
      </label>
      {{input class="form-control form-large" autocomplete="off" type="password"
              id="id_passwordRepeat" value=controller.passwordRepeat}}
    </div>
    {{#if errorMessage}}
      <p class="text-danger"><strong>{{errorMessage}}</strong></p>
    {{/if}}
    <span class="pull-right">
      {{#link-to 'login' class="button"}}
        <button type="button" class="btn btn-default">
          Cancel
        </button>
      {{/link-to}}
      <button type="button" class="btn btn-primary"
        {{action "change" on="click"}}>
          Change
      </button>
    </span>
  </fieldset>
</div>