
<div style="float:right;width:819px;border:1px solid #000000;height:500px;">
    Graph
</div>
<div style="width:250px">
    <div style="border:1px solid #000000;height:150px;margin-bottom:10px;">
        Stats
    </div>
    <div>
      <table class="table table-condensed table-bordered table-hover" style="width:250px;">
        <thead>
          <tr style="background-color:#000;color:#FFF;">
            <td colspan="2" style="line-height:10px;">
                <span style="float:left;" {{action "nextPage" on="click" target="view"}}>
                  &laquo;&laquo;
                </span>
                <span style="float:right;">&raquo;&raquo;</span>
            </td>
          </tr>
          <tr>
            <td><strong>Date</strong></td>
            <td><strong>Weight(Kg)</strong></td>
          </tr>
        </thead>
        <tbody>
          {{#each weight in weights}}
            <tr>
              <td>{{date-format weight.date}}</td>
              <td>{{weight.weight}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
</div>