<div class="form">
  <fieldset>
    <legend>Login</legend>
    <div class="form-group ">
      <label class="control-label" for="id_username">
        Username:
      </label>
      {{input class="form-control form-large" autocomplete="off"
              id="id_username" value=username}}
    </div>
    <div class="form-group ">
      <label class="control-label" for="id_password">
        Password:
      </label>
      {{input class="form-control form-large" autocomplete="off"
              id="id_password" type="password" value=password}}
    </div>
    {{#if errorMessage}}
      <p class="text-danger"><strong>{{errorMessage}}</strong></p>
    {{/if}}
    {{#if autoLogout}}
      <p class="text-danger">
        <strong>You have been logged out automatically</strong>
      </p>
    {{/if}}
    <span class="pull-right">
      {{#link-to 'index' class="button"}}
        <button type="button" class="btn btn-default">
          Cancel
        </button>
      {{/link-to}}
      {{#link-to 'register' class="button"}}
        <button type="button" class="btn btn-default">
          Register
        </button>
      {{/link-to}}
      <button type="button" class="btn btn-primary"
        {{action "authenticate" on="click"}}>
          Login
      </button>
    </span>
    <span class="pull-left">
      {{#link-to 'reset-password' class="button"}}
        <button type="button" class="btn btn-default">
          Reset Password
        </button>
      {{/link-to}}
    </span>
  </fieldset>
</div>