<div class="form">
  <fieldset>
    <legend>Reset Password</legend>
    <div class="form-group ">
      <label class="control-label" for="id_username">
        Email:
      </label>
      {{input class="form-control form-large" autocomplete="off"
        id="id_email" value=controller.email}}
    </div>
    {{#if errorMessage}}
      <p class="text-danger"><strong>{{errorMessage}}</strong></p>
    {{/if}}
    {{#if passwordResetMessage}}
        <p><strong>{{passwordResetMessage}}</strong></p>
    {{/if}}
    <span class="pull-right">
      {{#link-to 'login' class="button"}}
        <button type="button" class="btn btn-default">
          Cancel
        </button>
      {{/link-to}}
      <button type="button" class="btn btn-primary"
        {{action "reset" on="click"}}>
          Reset
      </button>
    </span>
  </fieldset>
</div>